<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeissVolvoDMOGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeissVolvoDMOGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ZeissVolvoDMOGenerator.Properties.Settings>
            <setting name="DMOOutputPath" serializeAs="String">
                <value>C:\TEMP</value>
            </setting>
            <setting name="DMOSettingFile" serializeAs="String">
                <value>.\DMOSettings.xml</value>
            </setting>
        </ZeissVolvoDMOGenerator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ZeissVolvoDMOGenerator.Properties.Settings>
            <setting name="DPFolder" serializeAs="String">
                <value>C:\Users\Public\Documents\Zeiss\CALYPSO 6.0\workarea\dmisout</value>
            </setting>
        </ZeissVolvoDMOGenerator.Properties.Settings>
    </userSettings>
</configuration>